ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  max-block-size: 12.5rem;
  overflow-y: auto;

  li {
    font-size: 0.8rem;
    font-family: monospace;
    color: oklch(88% 0.07 171);
    padding-block: 0.3rem;
    padding-inline: 0.6rem;
    background: oklch(0% 0 0 / 0.25);
    border-radius: 0.375rem;
    &[data-start] {
      color: oklch(91.32% 0.07985 107.91);
    }
  }
}
