/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-block-size: 100%;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

body {
  background-attachment: fixed;
  color: oklch(100% 0 0);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-block-size: 100dvh;
  padding: 2rem;
  background: linear-gradient(
    135deg,
    oklch(23% 0.04 283) 0%,
    oklch(25% 0.06 268) 50%,
    oklch(33% 0.09 255) 100%
  );
  box-sizing: border-box;
}
